[submodule "libs/benchpress"]
	path = libs/benchpress
	url = https://github.com/jordandsullivan/benchpress.git
[submodule "libs/qiskit"]
	path = libs/qiskit
	url = https://github.com/jordandsullivan/qiskit
